@using WebMvc.Helpers;

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            @if (Request.IsAuthenticated)
            {
                <div class="pull-left image">
                    <img src="@Url.Content("~/Content/Backend/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Account" })</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            }
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@(Html.IsCheckSelected("Home", "Index") ? "active" : "")">
                <a href="@Url.Content("~/Home/Index")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li class="header">User management</li>
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("UserCenter.UserView"))
            {
                <li class="@(Html.IsCheckSelected("User", "Index") ? "active" : "")">
                    <a href="@Url.Content("~/User/Index")"><i class="fa fa-user-circle-o"></i> <span>User</span></a>
                </li>
            }
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("UserCenter.ProjectView"))
            {
                <li class="@(Html.IsCheckSelected("Project", "Index") ? "active" : "")">
                    <a href="@Url.Content("~/Project/Index")"><i class="fa fa-product-hunt"></i> <span>Project</span></a>
                </li>
            }
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("UserCenter.GroupView"))
            {
                <li class="@(Html.IsCheckSelected("Group", "Index") ? "active" : "")">
                    <a href="@Url.Content("~/Group/Index")"><i class="fa fa-group"></i> <span>Group</span></a>
                </li>
            }
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("UserCenter.RoleView"))
            {
                <li class="@(Html.IsCheckSelected("Role", "Index") ? "active" : "")">
                    <a href="@Url.Content("~/Role/Index")"><i class="fa fa-bolt"></i> <span>Role</span></a>
                </li>
            }
            <li class="header">System on</li>
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("UserCenter.ErrorView"))
            {
                <li class="@(Html.IsCheckSelected("Error", "Index") ? "active" : "")">
                    <a href="@Url.Content("~/Error/Index")"><i class="fa fa-book"></i> <span>Error</span></a>
                </li>
            }
            <li class="header">Helps</li>
            <li class="@(Html.IsCheckSelected("Help", "Index") ? "active" : "")">
                <a href="@Url.Content("~/Help/Index")"><i class="fa fa-question-circle-o text-blue"></i> <span>Helps</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>