@model iThinking.ViewModel.Identity.ApplicationRoleIndexViewModel

@using WebMvc.Helpers;

@{
    ViewBag.Title = "Roles";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Role/Index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User management</a></li>
        <li class="active">Roles</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApplicationProjectId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("ApplicationProjectId", null, "-------Select an one-------", htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Keyword, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.Keyword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Keyword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" value="Tìm" class="btn btn-block btn-primary" />
                                </div>
                            </div>
                        }
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    Maximum data displayed is 1,0000 records. If you want to find more, please enter your search keywords.
                </div>
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <div class="col-md-10">
                        <h3 class="box-title">Role list</h3>
                    </div>
                    <div class="col-md-2">
                        <a title="Add new" href="@Url.Content("~/Role/Create")" class="btn btn-xs btn-success pull-right"><i class="fa fa-fw fa-plus"></i></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ApplicationRoles)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.ApplicationProjectId</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a title="Edit" href="@Url.Content("~/Role/Edit/")@item.Id" class="btn btn-xs btn-primary"><i class="fa fa-fw fa-pencil"></i></a>
                                        @Html.NoEncodeActionLink("<i class='fa fa-fw fa-close'></i>","Delete", "Delete", "Role", new { id = item.Id },
                                        new { onclick = "return confirm('Are you sure you wish to delete this item?');", @class = "btn btn-xs btn-danger" })
                                        <a title="Details" href="@Url.Content("~/Role/Details/")@item.Id" class="btn btn-xs btn-default"><i class="fa fa-fw fa-info"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Project</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->